b/
build/
.cache/
build_*/
__pycache__/
.ruff_cache/
html/
temp/
output/
out/
temp/
input/
.ruff_cache/

*.png
*.exe
*.log
*.tex
*.typ
*.sqlite3
!test/golden/report_triplet/**/v1/*.tex
!test/golden/report_triplet/**/v1/*.typ


# --- Rust 专用 ---

# 核心构建产物目录
target/

# 如果你使用 Cargo 的安装功能产生的二进制文件
bin/

# 编译过程中产生的各类备份和临时文件
**/*.rs.bk

# 如果你在使用 Rust 进行 WebAssembly (Wasm) 开发
pkg/
wasm-bindgen-raytracer


# Android
# 忽略 IDE 配置
.idea/
*.iml
.DS_Store

# 忽略本地 SDK 路径
local.properties

# 忽略构建产物和缓存
build/
.gradle/
.kotlin/
captures/

# 忽略 keystore 文件
*.jks
apps/tracer_android/keystore.properties


# 忽略 Code Runner 产生的任何临时 Python 文件
tempCodeRunnerFile.py
tempCodeRunnerFile


